/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body{
    font-family: "Roboto", system-ui;
    font-style: normal;
    font-size: 0.8em;
    background-color: #1b1919;
    color: #f1e9b8;
}

/* MAIN */
.flexContainer{
    display: flex;
    height: 100vh;
    /* border: 2px solid rebeccapurple; */
    justify-content: center;
    align-items: center;

}
/* ************************************************************************ */

/* SECTION */
.controlTareaFlexContainer{
    border: 2px solid #645CF2;
    height: min-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

/* H1 */
.encabezadoH1{
    margin: 1em 0 0 1em;
    border-bottom: 1px solid #f1e9b8;
    padding-bottom: 0.4em;
    width: 91%;
}
/* ************************************************************************ */

/* INGRESAR Y AGREGAR TAREA CONTAINER */
.inAddTareaFlexContainer{
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 1.5em;
    gap: 0.4em;
}
/* Contiene al INPUT y al BUTTON */
.inAddContainer{
    display: flex;
    gap: 0.5em;
}

/* INPUT */
#ingresarTareaInput{
    width: 85%;
    border-radius: 5px;
}

/* BUTTON */
#agregarTareaBtn{
    height: 2.5em;
    width: 6em;
    background-color: #5b83f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #252314;
}

#agregarTareaBtn:hover{
    background-color: #ADBFF2;
}
/* ************************************************************************ */

/* MOSTRAR CANTIDAD TOTAL DE TAREAS, CANTIDAD DE TAREAS REALIZADAS Y LISTA DE TAREAS - CONTAINER*/
.spanTableFlexContainer{
    display: flex;
    margin: 0 2em 1em 1.5em;
}

/* TOTAL TAREAS Y TAREAS REALIZADS (DIV) */
.tareasToTalRealizadas{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;    
}

/* TABLE (Muestra la lista de tareas) */
.tableListaDeTareas{
    /* border: solid red; */
    width: 100%;
    text-align: justify;
}

/* THEAD (Lista de tareas) */
.theadListaDeTareas{
    /* border: solid red; */
    background-color: #ADBFF2;
    color: #252314;
    padding: 0.2em;
}

/* TD (Tareas añadidas desde JS) */
.tdTarea{
    padding: 0.2em;
}

/* Ajuste de la columna del ID */
#tdId{
    width: 20%;
}

/* BUTTON (Borrar tarea) */
.borrarTareaButton{
    cursor: pointer;
    padding: 0.2em;
    background-color: #645CF2;
    border: none;
    border-radius: 3px;
    color: #252314;
}

.borrarTareaButton:hover{
    background-color: #ADBFF2;
}

/* Ajuste del contenido del TH y TD de la columna Realizadas */
#tdThRealizada{
    text-align: center;
}
/* ************************************************************************ */